services:
  db:
    image: postgres:15
    container_name: ecommerce_db
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U django -d ecommerce"]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build: .
    container_name: ecommerce_web
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"
    env_file:
     - .env
    command: >
      sh -c "
      python backend/manage.py migrate &&
      python backend/manage.py create_admin &&
      python backend/manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data:
